<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ecbaaa">  <td>20/11/25 16:59:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DriverClass.startTest()[pri:0, instance:driverPack.DriverClass@7d70d1b1]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/11/25 16:59:44</td>   <td>283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverClass.DriveExcel()[pri:0, instance:driverPack.DriverClass@7d70d1b1]">DriveExcel</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/11/25 17:00:32</td>   <td>48883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverClass.getResult(org.testng.ITestResult)[pri:0, instance:driverPack.DriverClass@7d70d1b1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/11/25 17:00:32</td>   <td>48891</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverClass.endReport()[pri:0, instance:driverPack.DriverClass@7d70d1b1]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
</table>
